<div class="error-box is--404">
  <h1>404</h1>
  <h2>Page not found</h2>
  <hr class="thin-border">
  <p>The page you requested could not be found.
    Click your browser's back button to return
    to the previous page.
  </p>
</div>