<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= page.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap" rel="stylesheet">
    <% page.styles.forEach(styleHref => { %>
      <link href="/css/<%= styleHref %>.css" rel="stylesheet">
    <% }); %>
    <% page.scripts.forEach(scriptSrc => { %>
      <script type="text/javascript" src="/js/<%= scriptSrc %>.js"></script>
    <% }); %>
  </head>
  <body class="<%= page.bodyClass %>">
    <header id="header" class="thin-border">
      <div class="left">
        <a id="site-title" href="/">
          <div id="site-logo-bg"></div>
          <div id="site-logo-fg"></div>
          <span><%= page.siteTitle %></span>
        </a>
        <% if (page.bodyClassArray.includes('in-app')) { %>
          <div class="quick-switcher">
            <div class="quick-switcher-item for--server">
            </div>
            <div class="quick-switcher-item for--service">
            </div>
          </div>
        <% } %>
      </div>
      <div class="right">
        <div class="nav-user">
          <% if (loggedIn) { %>
            <div class="user">
              <div class="user-tag">
                <span>@</span>
                <span class="user-username"><%= user.username %></span>
                <span>#</span>
                <span class="user-discriminator"><%= user.discriminator %></span>
              </div>
              <div class="user-id"><%= user.id %></div>
            </div>
            <a class="auth-button is--logout" href="<%= authLinks.logout %>">Logout</a>
          <% } else { %>
            <a class="auth-button is--login" href="<%= authLinks.login %>">Login</a>
          <% } %>
        </div>
      </div>
    </header>
    <main><%- include(subview, sublocals) %></main>
  </body>
</html>