.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

aside {
    padding-left: 30px;
}

.card {
    background: #fff;
    box-shadow: 0 1px 2px  hsla(223, 67%, 18%, 0.35);
    margin-bottom: 20px;
}

.content {
    padding: 10px;
}

.card > h2 {
    border-bottom: 1px solid hsla(223, 67%, 18%, 0.2);
    background: hsla(223, 67%, 18%, 0.03);
    padding: 8px 10px;
    font-size: 19px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
}
.service-list .service-item {
    display: flex;
    align-items: center;
    width: calc(33% - 20px);
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid hsla(223, 67%, 18%, 0.3);
    margin: 10px;
    color: inherit;
    text-decoration: none;
}
.service-list .service-item:hover {
    background: hsla(223, 67%, 18%, 0.05);
}
.service-list .service-item .icon {
    padding: 10px;
    width: 18px;
    height: auto;
}
.service-list .service-item h3 {
    font-size: 15px;
    text-transform: capitalize;
}


.server-list {
    padding: 10px;
}

.server-list .server-item {
    display: block;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    padding: 5px;
    border: 1px solid hsla(223, 67%, 18%, 0.3);
    border-radius: 3px;
    margin: 3px 0;
    font-size: 15px;
    line-height: 17px;
}

.server-list .server-item:hover {
    opacity: 1;
}
.server-list .server-item.selected {
    background: hsla(223, 67%, 18%, 0.3);
    border-color: transparent;
    color: #fff;
    opacity: 1;
}