#welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#welcome-box h1 {
  margin: 10px 0 20px;
}
#welcome-box .auth-button {
  font-family: 'Open Sans', sans-serif;
  background: hsla(220, 61%, 68%, 1);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 38px;
  padding: 0 25px;
  border-radius: 3px;
}
#welcome-box .auth-button:hover {
  background: hsla(220, 61%, 72%, 1);
}
#welcome-box .auth-button:focus {
  background: hsla(220, 61%, 66%, 1);
}
