<div class="talign">
  <article class="f70p">
    <section class="card">
      <h2>Find services</h2>
      <div class="service-list">
        <% services.forEach(service => { %>
          <a href="/s-<%= serverId %>/<%= service.name %>" class="service-item thin-border">
            <%- icon(service.icon) %>
            <h3><%= service.name %></h3>
          </a>
        <% }) %>
      </div>
    </section>
    <section class="card">
      <h2>Quick User Lookup</h2>
      <div class="content">
        <input type="text" placeholder="Discord User-Id"/><button>Search</button>
      </div>
    </section>
  </article>
  <aside class="f30p">
    <section class="card">
      <h2>Switch Servers</h2>
      <div class="server-list">
        <% servers.forEach(server => { %>
          <a href="/s-<%= server.id %>"
              class="server-item thin-border <%= server.id == serverId ? 'selected' : '' %>" >
            <span><%= server.discord_id %></span>
          </a>
        <% }) %>
      </div>
    </section>
  </aside>
</div>